body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(230,195,121,1) 0%, rgba(217,226,0,1) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

a {
    color: black;
}

pre {
   
}
h1{
    text-align:center ;
    color: black;
    font-size: 35px;
    font-family: fantasy;
    font-weight: 100;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
article{
    background-color: ;
    text-align: center;
    font-size: larger;
}